@import url("https://fonts.googleapis.com/css2?family=Gluten&display=swap");

.home-container {
  margin-left: 20vmin;
  margin-right: 20vmin;
}

.who-is-ruke {
  margin-top: 2vh;
  font-family: "Gluten", cursive;
  text-align: center;
  font-size: x-large;
}

.all-my-friends {
  margin-top: 5vh;
  margin-left: 20vw;
  margin-right: 20vw;
  font-size: medium;
}
