.Person {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 15rem auto;
  grid-template-areas:
 
    "name label"
    "image image"
    "title title";
}

.Person > p:first-of-type {
  grid-area: title;
}

.Person > img {
  grid-area: image;
}

.Person h3 {
  grid-area: name;
}

.Person > p:last-of-type {
  grid-area: label;
  padding: 0.3rem;
  background-color: #ddd;
  border-radius: 0.25rem;
  justify-self: start;
}

.delete {
  border: 1px solid #ddd;
  background-color: transparent;
  padding: 8px 24px;
  border-radius: 4px;
  transition: transform 0.5s ease-in-out;
}
.delete:hover {
  border: 1px solid #ddd;
  background-color: black;
  color: white;
  transform: scale(1.025, 1.025);
}
