
/* lesson CSS  */
/* .NewPersonForm-section{
    background-color: #eee;
    padding: 1.5rem;
}

.NewPersonForm-section form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.NewPersonForm-section form > label{
    display: flex;
    flex-direction: column;
}

.NewPersonForm-section input[type="text"]{
    line-height: 2rem;
    padding: 0 .5rem;
}

.NewPersonForm-section input[type="submit"]{
    line-height: 2rem;
    padding: 0 .5rem;
    align-self: self-end;
    height: 2.2rem;
    border: 1px solid #333;
    border-radius: .25rem;
} */

.NewPersonForm-section form > label{
    display: flex;
    flex-direction: column;
}

.NewPersonForm-section {
    padding: 1.5rem;
    border-bottom: 0.0625rem solid #ddd;
    margin-bottom: 3rem;
    background-color: #eee;
  }
  
  .NewPersonForm-section form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }
  
  .NewPersonForm-section input {
    padding: 0.3rem 1rem;
  }
  .NewPersonForm-section form label:nth-child(2) {
    grid-column: 1 / span 2;
  }
  .NewPersonForm-section form label:nth-child(3) {
    grid-column: 2 / span ;
    grid-row: 1;
  }
  .NewPersonForm-section form input[type="submit"] {
    grid-column: 1 / span 2;
    padding: 1rem;
    background-color: #cdcdcd;
    border: 0;
    border-radius: 0.3rem;
  }